<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/index"><i class="fa fa-fw fa-dashboard"></i> 控制台</a>
        </li>
        <li>
            <a href="/charts"><i class="fa fa-fw fa-bar-chart-o"></i> 频道</a>
        </li>
        <li>
            <a href="/tables"><i class="fa fa-fw fa-table"></i> 规则</a>
        </li>
        <li>
            <a href="/forms"><i class="fa fa-fw fa-edit"></i> Forms</a>
        </li>
    </ul>
</div>
